<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dylemat więźnia</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <script src="static/redirect.js"></script>
</head>
<body>
    <h1>Wybierz swoją rolę?</h1>
    <form id="roleForm">
        <label>
            <input type="radio" name="role" value="guest"> Uczeń
        </label>
        <label>
            <input type="radio" name="role" value="admin"> Nauczyciel
        </label>
        <br>
        <input type="submit" value="Submit" >
    </form>
</body>
</html>
